body {
    // background: linear-gradient(top, blue, white);
    background-image: url('../../../logo.svg');
    font-family: 'San Francisco';
}

.underline {
    text-decoration: underline !important;
}

div {
    background: #ff0;

    .blue {
        background: #00f;
    }
}

.no-dupe {
    border-radius: 5px;
}